<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %-5level [%thread] %logger{128} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="PFILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/project-test-debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} %-5level [%thread] %logger{128} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/%d{yyyy-MM-dd}/common-test-%d{HH-mm}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} %-5level [%thread] %logger{128} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.kolokolov" level="DEBUG">
        <appender-ref ref="PFILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="CFILE" />
    </root>
</configuration>